@model Online_Banking_System.MVC.Models.login

@{
    ViewBag.Title = "login";
}



<h3>Login to Online banking System</h3>
<br />
<h5>(CARE: User Name and Password are case sensitive)</h5>
<br />
<br />

@*@using (Html.BeginForm("login", "Home", FormMethod.Post))
{*@
    <!DOCTYPE html>
    <html>
    <head>
        <title>Login</title>

        <link href="~/Content/Style.css" rel="stylesheet" />
        <script defer src="~/Content/register.js"></script>
    </head>
    <body>
        <div class="container card">
            <form id="lofin" class="form">
                <h1>Login
                </h1>
                <div class="form-group">
                    <div class="col-md-1">
                        <label for="username">Username:</label>
                    </div>

                    <input type="text" name="username" id="Username" autocomplete="on">
                    <small></small>
                </div>

                <div class="form-group">
                    <div class="col-md-1">
                        <label for="password">Password:</label>
                    </div>
                    <input type="password" name="password" id="Password" autocomplete="off">
                    <small></small>
                </div>

                @*<div class="container">
                    <div class="row form-horizontal">

                        <div class="form-group">
                            <div class="col-md-1">@Html.Label("Username*:")</div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.username, new { @class = "form-control", autocomplete = "off", placeholder = "User Name" })
                                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-1">@Html.Label("Password*:")</div>
                            <div class="col-md-3">
                                @Html.PasswordFor(x => x.password, new { @class = "form-control", autocomplete = "off", placeholder = "Password" })
                                @Html.ValidationMessageFor(model => model.password, "  ", new { @class = "text-danger" })
                            </div>
                        </div>*@
                <div class="form-group">
                    <div class="col-lg-offset-1"><input type="submit" value="Log In" class="btn btn-primary" /></div>
                    <div class="col-lg-offset-1">
                        <input type="reset" value="Reset" name="Reset" class="btn btn-primary" />
                    </div>
                    <div class="col-lg-offset-1"><a href="@Url.Action("Register", "Home")" class="btn btn-default">Register</a></div>
                </div>
        </div>

        
    </body>
</html>


<span class="resp-info"></span>

@*@if (ViewBag.attempt != null)
{
    @ViewBag.attempt
}
*@
